@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f7ff;
  --foreground: #2d3748;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Désactiver le scroll */
  height: 100vh;
  width: 100vw;
}

/* Leaflet Container overrides */
.leaflet-container {
  height: 100%;
  width: 100%;
  background: #f0f7ff;
}

/* Leaflet control overrides for minimalist UI */
.leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1) !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  background-color: white !important;
  color: #3182CE !important;
  border-radius: 50% !important;
  margin-bottom: 5px !important;
  border: none !important;
}

/* Custom animations */
@keyframes pulse {
  0% { transform: scale(1); opacity: 0.8; }
  50% { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(1); opacity: 0.8; }
}

.animate-player-pulse {
  animation: pulse 2s infinite ease-in-out;
}
